/* You can add global styles to this file, and also import other style files */

td.checked {
  background-color: darkgrey;
}

.checkmark {
  font-family: arial;
  -ms-transform: scaleX(-1) rotate(-35deg) translateY(-40px); /* IE 9 */
  -webkit-transform: scaleX(-1) rotate(-35deg) translateY(-40px); /* Chrome, Safari, Opera */
  transform: scaleX(-1) rotate(-35deg) translateY(-40px);
  font-weight: bold;
}
