.word {
    width: 80%;
    text-align: center;
}

.check {
    width: 20%;
    text-align: center;
}

.word-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}