.word {
    width: 100%;
    text-align: center;
    position: absolute;
}

.check {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 300%;
}

.word-container {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}